<div class="card-content">
    <span class="card-title activator grey-text text-darken-4">
      <h5>
          <a class="repoNameTitulo" href="{{html_url}}" target="_blank">
              {{name}}
          </a>
      </h5>
      <h6 class="repoNameDescription">{{description}}</h6>                        
      <i class="material-icons right treePoints">more_vert</i> <!-- 3 points to access inside the card  -->
  </span>
    <br>
    <!-- icone star -->
    <a href="{{html_url}}/stargazers" target="_blank">
        <img src="./assets/img/star.png" alt="" style="width:30px; height: 30px; margin: 20px 0px 0px -10px ">
    </a>
    <span class="numberCard"> {{watchers | thousandSuff }}</span>
    <!-- icone fork -->
    <a href="{{html_url}}/network" target="_blank">
        <img src="./assets/img/fork.png" alt="" style="width:25px; height: 20px; margin: 20px 0px 0px 25px ">
    </a>
    <span class="numberCard"> {{forks | thousandSuff}}</span>
    <!-- icone tag -->
    <a href="{{html_url}}/releases" target="_blank">
        <img src="./assets/img/tags.png" alt="" style="width:25px; height: 20px; margin: 29px 0px 0px 30px; position: absolute ">
    </a>
</div>